.section1 {
    background-color: black;
    height: auto;
    
}
.menu{
    max-width: 1400px;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.menu a{
    margin-top: 70px !important;
    max-width: 1400px;
    align-items: center;  
    /* color: rgb(110, 110, 110); */
    color: #7A7A7A;
    /* padding: 30px; */
    font-size: 30px;
    margin: 0px 30px;
    /* line-height: 130px; */
    transition: all .5s;
    flex-direction: column;
}
.menu a:hover{
    color: #4E9F0D;
    transition: all .5s;
    /* text-shadow:  #4E9F0D 10px 10px; */
}

.gamburgers1{
    max-width: 1400px;
    /* border: 2px solid white; */
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.gamburger1{
    /* flex-direction: column; */
    /* border: 1px solid red; */
    height: 450px;
    width: 350px;
    margin: 20px;
    position: relative;

}
.burgerimg{
    width: 100%;
    height: 300px;
    /* border: #4E9F0D solid; */
}
.send{
    width: 150px;
    height: 50px;
    background-color: #4E9F0D;
    font-size: 20px;
    color: white;
    font-family: cursive;
    border: none;
    letter-spacing: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 111;
    left: 1px;
    /* bottom: 20px; */
    top: 250px;

}
.gamburger1 h3{
    color: #4E9F0D;
    font-size: 22px;
}
.gamburger1 p{
    color: rgb(172, 172, 172);
    font-size: 17px;
}

.soya{
    width: 100%;
    height: 300px;
    background-color: #4f9f0d75;
    /* transform: translateY(-300px); */
    z-index: 777;
    display: none;
    position: absolute;
    top: 1px;
    padding: 30px auto;
    transition: all .5s;
}
.soya p{
    font-size: 22px;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 130px 0px;

}
.gamburger1:hover .soya{
    display: block;
    transition: all .5s;
    /* transform: translateY(300px); */
}

@media (max-width:350px) {
    .send{
        width: 100px;
        height: 40px;
        font-size: 17px;
        letter-spacing: 3px;
        position: absolute;
        z-index: 111;
        left: 1px;
        /* bottom: 20px; */
        top: 260px;

    }
}